<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated persona -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="persona.presentation.PersonaModelWizardID"
            name="%_UI_PersonaModelWizard_label"
            class="persona.presentation.PersonaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PersonaModelFile.gif">
         <description>%_UI_PersonaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated persona -->
      <editor
            id="persona.presentation.PersonaEditorID"
            name="%_UI_PersonaEditor_label"
            icon="icons/full/obj16/PersonaModelFile.gif"
            extensions="persona"
            class="persona.presentation.PersonaEditor"
            contributorClass="persona.presentation.PersonaActionBarContributor">
      </editor>
   </extension>

</plugin>
